.main-container {
    padding-top: 50px;
    width: 100%;
}

.index-intro {
    width: 100%;
    background-color: #4357AD;
}

.index-intro .jumbotron {
    padding: 100px 60px;
    margin: 0px;
    background-image: url('header.jpg');
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.title {
    color: white;
}

.index-intro .jumbotron h1 {
    font-size: 30px;
    color: white;
}

.index-intro .jumbotron p {
    font-size: 16px;
    color: white;
    font-weight: 100;
    padding-top: 1rem;
}

.btn-lg.round {
	border-radius: 30px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 9rem;
    margin-top: 4rem;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #4357AD;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #4357AD;
}
 
.btn-primary:active, .btn-primary.active {
    background: #4357AD;
    box-shadow: none;
}

@media (min-width: 768px) {
    .index-intro .jumbotron h1 {
        font-size: 40px;
    }

    .index-intro .jumbotron p {
        font-size: 24px;
    }

    .btn {
        margin-top: 4rem;
    }
}

@media (min-width: 831px) {
    .btn {
        margin-top: 6rem;
    }
}

@media (min-width: 992px) {
    .index-intro .jumbotron {
        height: 100vh;
        background-size: cover;
    }
    .index-intro .jumbotron h1 {
        font-size: 50px;
    }

    .index-intro .jumbotron p {
        font-size: 32px;
    }

    .btn {
        margin-top: 12rem;
    }
}

@media (min-width: 1200px) {
    .index-intro .jumbotron h1 {
        font-size: 65px;
    }

    .btn {
        margin-top: 12rem;
    }
}



.navbar-dark a {
    color: #E4DFDA;
    font-weight: 600; 
}

.primary-back {
    background-color: #4357AD;
}

.primary-back h1 {
    padding-top: 4rem;
    color: #E4DFDA;
}

.primary-back h4 {
    color: #D4B483;
    font-weight: 300;
}

.primary-back p {
    color: #E4DFDA;
    font-weight: 100;
}

#map {
    width: cover;
    height: auto;
    background-color: white;
}

.secondary-back h1 {
    color: #4357AD;
    padding-bottom: 2rem;
}

.secondary-back h3 {
    color: #619B8A;
}