.main-container {
    padding-top: 50px;
    width: 100%;
}

.index-intro {
    width: 100%;
    background-color: #4357AD;
}

.index-intro .jumbotron {
    padding: 100px 60px;
    margin: 0px;
    background-image: url('./img/header.jpg');
    /* background-size: cover; */
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.title {
    color: white;
}

.index-intro .jumbotron h1 {
    font-size: 30px;
    color: white;
}

.index-intro .jumbotron p {
    font-size: 16px;
    color: white;
    font-weight: 100;
    padding-top: 1rem;
}

.btn-lg.round {
	border-radius: 30px;
}

.btnover .btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 9rem;
    margin-top: 4rem;
}
 
.btnover .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btnover .btn-primary {
    color: #ffffff;
}
 
.btnover .btn-primary:active, .btnover .btn-primary.active {
    box-shadow: none;
}

@media (min-width: 768px) {
    .index-intro .jumbotron h1 {
        font-size: 40px;
    }

    .index-intro .jumbotron p {
        font-size: 24px;
    }

    .btnover .btn {
        margin-top: 4rem;
    }
}

@media (min-width: 831px) {
    .btnover .btn {
        margin-top: 6rem;
    }
}

@media (min-width: 992px) {
    .index-intro .jumbotron {
        height: 100vh;
        background-size: cover;
    }
    .index-intro .jumbotron h1 {
        font-size: 50px;
    }

    .index-intro .jumbotron p {
        font-size: 32px;
    }

    .btnover .btn {
        margin-top: 12rem;
    }
}

@media (min-width: 1200px) {
    .index-intro .jumbotron h1 {
        font-size: 65px;
    }

    .btnover .btn {
        margin-top: 12rem;
    }
}



.navbar-dark a {
    color: #E4DFDA;
    font-weight: 600; 
}

.primary-back {
    background-color: #4357AD;
}

.primary-back h1 {
    padding-top: 4rem;
    color: #E4DFDA;
    font-weight: 700;
}

.primary-back h4 {
    color: #D4B483;
    font-weight: 300;
}

.primary-back h4.phone {
    color: #FF9505;
    font-weight: 700;
}

.primary-back p {
    color: #E4DFDA;
    font-weight: 100;
}

.primary-back p.phone {
    color: #D4B483;
}

.primary-back tr {
    color: #E4DFDA;
    font-weight: 700;
}

.primary-back td.date {
    font-weight: 300;
}

#map {
    width: cover;
    height: auto;
    background-color: white;
}

.secondary-back h1 {
    color: #4357AD;
    padding-bottom: 2rem;
}

.secondary-back h3 {
    color: #619B8A;
}

.secondary-back p {
    color: #333333;
    font-weight: 100;
}

.team-photo {
}

.team-photo img{
    width: 100%;
    object-fit: cover;
    padding: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(212, 180, 131, 0.5);;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

